DATABASE_URL="postgresql://maksimdenderis@localhost:5432/booking_system"
JWT_SECRET="1312saerkn123onsdpm"

PORT=3001
AUTH_SERVICE_PORT=4001
ROOM_SERVICE_PORT=4002
BOOKING_SERVICE_PORT=4003

AUTH_SERVICE_URL="http://localhost:4001"
ROOM_SERVICE_URL="http://localhost:4002"
BOOKING_SERVICE_URL="http://localhost:4003"
